div {
    background-color: red;
    color: white;
}

.tanamachi-box {
  background-color: #FF00FF; /* 背景色：マゼンタ */
  color: #000000;            /* 文字色：黒 */
  
}

#page4{
    background-color: aquamarine;
    color: black;
}
 main

#page3{
    background-color: yellow;
    color: black;
}

