div {
    background-color: red;
    color: white;
}

 page1_branch

#page4{
    background-color: aquamarine;
    color: black;
}
 main

#page3{
    background-color: rgb(82, 136, 244);
    color: black;
}